<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Accueil</title>
    <script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
  </head>
  <body>
    <h1>GranPy Bot</h1>
    <form id="newItemForm">
      ville:<input type="text"placeholder="Item" />
      <input type="submit" value="Submit" />
      <ul></ul>
    </form>
  </body>
</html>