* {
  margin:0;
  padding:0;
  list-style: none;
}

/** {
  margin:0;
  padding:0;
  list-style: none;
}

body {
 height: 100vh;
 display: grid;
 grid-template-rows: 50px 1fr 50px;
 grid-template-columns: 100%;
 grid-template-areas: 
  "header"
  "main"
  "footer";
 margin: 0;
}

header {
  display: flex;
  flex-direction: line;
  gid-area: header;
  background-color: #ccc;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

footer {
  display: flex;
  flex-direction: line;
  grid-area: footer;
  background-color: #ccc;
}*/

.submit{
  height:0;
  width:0;
  background:none;
  border:0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  max-height: 200px;
  margin-bottom: 20px;
  background-color: #5D6FA1;
}

.img {
  border-width: 10px;
  border-style: solid;
  border-color: #5D6FA1;
}

input[type=text] {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:90%;
  height: 30px;
  border: 2px solid;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 75%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  order: 2;
  flex: 7;
  height: 500px;
  width: 90%;
  border-style: solid;
  border-radius: 10px;
  font-size: 24px;
}

.wiki {
  align-self: stretch;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  order: 1;
  flex: 2;
  width: 90%;
  height: 200px;
  border-style: solid;
  border-radius: 10px;
  font-size: 24px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-shrink: 0;
  margin-top: 25px;
  margin-bottom: 0px;
  background-color: #5D6FA1;
}
