<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css" />
    <Link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <script
        src="https://code.jquery.com/jquery-3.2.1.js">
    </script>
    <title>Accueil</title>
  </head>
  <header class="header">
    <img class="img" src="static/img/robot.png" alt="">
    <p class="one">Bonjour, comment puis-je vous aidez?</p>
  </header>
  <body class="body">
    {% block body%}{% endblock %}
  </body>
  <footer class="footer">
    <li class="name">MONFORT Mehdi</li>
    <div class="link">
    <a href="https://github.com/mehdi-monfort/P7_GrandPy"><img src= "static/img/git.png" alt="" width="36"></a>
    <a href="https://www.linkedin.com/in/mehdi-monfort/"><img src= "static/img/linkedin.png" alt="" width="36"></a>
    </div>
  </footer>
  <script src="/static/js/script.js"></script>
</html> 