<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Accueil</title>
    <script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
  </head>
  <header class="header">
    <img class="img" src="static/img/robot.webp" alt="" width="100">
    <p class="one">Bonjour, je suis GrandPy, comment puis-je vous aidez?</p>
  </header>
  <body class="body">
    <form class="form" id="newItemForm">
      <input type="text"placeholder="Entrer ici votre demande" />
      <input type="submit" value="Submit" />
      <div></div>
    </form>
  </body>
  <footer class="footer">
    <li class="name">MONFORT Mehdi</li>
    <a href="https://github.com/mehdi-monfort/P7_GrandPy"><img src= "static/img/git.png" alt="" width="36"></a>
    <a href="https://www.linkedin.com/in/mehdi-monfort/"><img src= "static/img/linkedin.png" alt="" width="36"></a>
  </footer>
</html> 